<div class="row">
    <div class="col-md-1">病人ID</div>
    <div class="col-md-1">01001</div>
    <div class="col-md-1">住院号</div>
    <div class="col-md-1">01001</div>
    <div class="col-md-1">性别</div>
    <div class="col-md-1">男</div>
    <div class="col-md-1">年龄</div>
    <div class="col-md-1">21</div>
    <div class="col-md-4"></div>
    <div class="col-sm-2"></div>
</div>
<div class="row">
    <div class="col-md-1">姓名</div>
    <div class="col-md-1">张珊</div>
    <div class="col-md-1">经治</div>
    <div class="col-md-1">王医生</div>
    <div class="col-md-1">身份</div>
    <div class="col-md-2">一般人员</div>
    <div class="col-md-1">费别</div>
    <div class="col-md-1">自费</div>
    <div class="col-md-1">诊断</div>
    <div class="col-md-1">感冒</div>
</div>
