<hr/>
<ul class="nav nav-tabs" role="tablist" id="myTab">
    <li role="presentation" class="active"><a href="#mr" data-toggle="tab">首页</a></li>
    <li role="presentation"><a href="#order" data-toggle="tab">医嘱</a></li>
    <li role="presentation"><a href="#exam" data-toggle="tab">检查</a></li>
    <li role="presentation"><a href="#lab" data-toggle="tab">检验</a></li>
    <li role="presentation"><a href="#con" data-toggle="tab">会诊</a></li>
    <li role="presentation"><a href="#bc" data-toggle="tab">病程</a></li>
    <li role="presentation"><a href="#emr" data-toggle="tab">电子病历</a></li>
</ul>
<div class="tab-content">
    <section class="tab-pane fade in active" id="mr" ng-include src="'partials/patient/mr.html'">

    </section>
    <section class="tab-pane fade" id="order" ng-include src="'partials/patient/order.html'">
    </section>
    <section class="tab-pane fade" id="exam" ng-include src="'partials/patient/exam.html'" ></section>
    <section class="tab-pane fade" id="lab" ng-include src="'partials/patient/lab.html'"></section>
    <section class="tab-pane fade" id="con" ng-include src="'partials/patient/con1.html'"></section>
    <section class="tab-pane fade" id="bc" ng-include src="'partials/patient/bc.html'"></section>
    <section class="tab-pane fade" id="emr" ng-include src="'partials/patient/emr.html'"></section>
</div>