<!--<div class="row">-->
<!--<input type="text" class="input-sm"/>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-6">-->
<!--<input type="radio" class="radio" ng-model="deptRadio" checked="false">科室-->
<!--<input type="radio" class="radio" ng-model="patRadio">病人-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-6">-->
<!--<input type="radio" class="raido" ng-model="inpRadio" checked="false">在院-->
<!--<input type="radio" class="radio" ng-model="outpRadio">出院-->
<!--</div>-->
<!--</div>-->
<div class="panel panel-default panel-primary" ng-controller="patListCtrl">
    <div class="panel-heading">
        <span>病人列表</span>
    </div>
    <div class="pane-body">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
                <select ui-select2 ng-model="selectedDept"   class="form-control select2-default" placehoder="请选择科室">
                    <option ng-repeat="dept in deptDicts" value="{{dept.deptCode}}" >{{dept.deptName}}</option>
                </select>
                {{selectedDept}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" >
                <input type="radio" class="radio-inline">科室
                <input type="radio" class="radio-inline">病人ID
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="radio" class="radio-inline">在院
                <input type="radio" class="radio-inline">出院
            </div>
        </div>
        <div style="height: 300px;" ng-grid="patListGridOptions">

        </div>
    </div>
</div>