<div class="panel panel-default panel-primary">
    <div class="panel-heading"><span>会诊信息</span></div>
    <div class="panel-body">
        <div class="row clearfix">
            <div class="col-md-12">
                <p>
                    <span class="label label-default label-info">床号：</span><span>23</span>
                    <span class="label label-default label-info">姓名：</span>
                    <span>张珊</span>
                    <span class="label label-default label-info">性别：</span><span>女</span>
                    <span class="label label-default label-info">年龄：</span><span>20岁</span>
                    <span class="label label-default label-info">Id：</span><span>1981109090</span>
                    <span class="label label-default label-info">费别：</span><span>城镇医保</span>
                </p>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="title-description">病历摘要及会诊目的：</p>
                <textarea class="uneditable-textarea col-md-12">
                    头部等多处外伤患者，神志清楚，行CT示T8椎体轻度压缩骨折，T8多发附件骨折，T9椎体骨折，T5-7及9右侧横突骨折。请贵科会诊指导诊治！谢！
                </textarea>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="title-description">病史熟悉：</p>
                <textarea class="uneditable-textarea col-md-12">
                     病史已悉。患者神志清楚，精神可。躯干及四肢浅感觉无明显减退，深感觉存在。四肢肌力肌张力可。病理征未引出。！
                </textarea>
                <hr/>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="title-description">初步诊断：</p>
                <textarea class="uneditable-textarea col-md-12">
                    1、多发胸椎椎体及附件骨折 2、余同贵科
                </textarea>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="title-description">处理意见：</p>
                <textarea class="uneditable-textarea col-md-12">
                    1、建议胸腰支具制动；
                    2、请予完善下胸椎MRI；
                    3、贵科病情平稳后可转我科行手术治疗（王医生）
                    4、我科随诊，谢邀！
                </textarea>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span class="label label-default">会诊日期</span><input type="date"/>
            </div>
            <div class="col-md-6">
                <span>会诊医生:</span><span style="color:blue">王医生</span>
            </div>
            <hr/>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-default ">查看病情详细</button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary">查看病情详细</button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn  btn-primary">查看病情详细</button>
            </div>
        </div>
    </div>
</div>